:root{
  --rosa-claro: #FADADD;
  --rosa-medio: #F5B7C6;
  --rosa-durazno: #F9C9C1;
  --rosa-empolvado: #E7A6B7;
  --blanco-rosado: #FFF5F7;
  --verde-menta: #C8E6C9;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
    background-color: var(--blanco-rosado);
    font-family: 'Times New Roman', Times, serif;
    color:black;
    padding: 2%;
}
.container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: var();
    justify-content: center;
}
.capture{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5px;
    background-color: var(--rosa-empolvado);
    border-radius: 8px;
    margin top: -10px;
    padding: 10px;
    font-size: 20px;

}
.nombre {
    margin-top: 10px;
}
.columna{
    background-color: (var(--rosa-durazno));
    border-radius: 16px;
    width: 30%;
    background-color: var(--rosa-claro);
    padding: 1.5%;

}
.Foto{
    width: 250px;
    border-radius: 50%;
    padding: 5%;

}
h2{
    background-color:var(--rosa-empolvado) ;
    padding-left: 5%;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 40px;
    margin-top: 10px;
}
video{
    width: 80%;
    display: block;
    margin: 0 auto 18px auto;
}
p{
    padding: 2%;
}
h3{
    font-style: italic;
}
button{
    background-color: #F9C9C1;
    border-radius: 10px;
    padding: 5px;
}
.fechas {
    font-size: x-small;
    color: gray;
}
.info {
    line-height: 1.5;
}
.info2 {
    line-height: 1.5;
    display: flex;
    flex-direction: column;
}